.gallery {
  margin: 0;
  padding: 0 128px; }

.gallery-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin: 0;
  padding: 10px; }

.gallery-list-item {
  cursor: pointer;
  transition: .2s;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 30px;
  padding: 0;
  width: 21%;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 5px 0px #8f8f8f;
  -moz-box-shadow: 0px 1px 5px 0px #8f8f8f;
  box-shadow: 0px 1px 5px 0px #8f8f8f;
  background: white;
  background: -moz-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.59) 88%, rgba(246, 246, 246, 0.57) 91%, rgba(201, 201, 201, 0.53) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(88%, rgba(246, 246, 246, 0.59)), color-stop(91%, rgba(246, 246, 246, 0.57)), color-stop(100%, rgba(201, 201, 201, 0.53)));
  background: -webkit-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.59) 88%, rgba(246, 246, 246, 0.57) 91%, rgba(201, 201, 201, 0.53) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.59) 88%, rgba(246, 246, 246, 0.57) 91%, rgba(201, 201, 201, 0.53) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.59) 88%, rgba(246, 246, 246, 0.57) 91%, rgba(201, 201, 201, 0.53) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(246, 246, 246, 0.59) 88%, rgba(246, 246, 246, 0.57) 91%, rgba(201, 201, 201, 0.53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=0 ); }
  .gallery-list-item:nth-child(4n) {
    margin-right: 0; }
  .gallery-list-item:hover {
    opacity: .7; }

.gallery-image {
  display: inline-block;
  background-image: url(../../public/images/preview_image_01.png);
  background-position: 0 0;
  background-size: cover;
  width: 203px;
  height: 197px; }

.image-preview-2 {
  background-image: url(../../public/images/preview_image_02.png); }

.image-preview-3 {
  background-image: url(../../public/images/preview_image_03.png); }

.image-preview-4 {
  background-image: url(../../public/images/preview_image_04.png); }

.image-preview-5 {
  background-image: url(../../public/images/preview_image_05.png); }

.image-preview-6 {
  background-image: url(../../public/images/preview_image_06.png); }

.image-preview-7 {
  background-image: url(../../public/images/preview_image_07.png); }

.image-preview-8 {
  background-image: url(../../public/images/preview_image_08.png); }

.image-preview-9 {
  background-image: url(../../public/images/preview_image_09.png); }

.image-preview-10 {
  background-image: url(../../public/images/preview_image_10.png); }

.image-preview-11 {
  background-image: url(../../public/images/preview_image_11.png); }

.image-preview-12 {
  background-image: url(../../public/images/preview_image_12.png); }

.about-image {
  padding-left: 5px; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 128px;
  margin: 0;
  height: 130px;
  background-image: linear-gradient(to top, #e2e2e2 0%, white 100%);
  border-bottom: 1px solid #cccccc; }

.menu {
  height: 100%; }

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 100%; }

.logo {
  cursor: pointer;
  font-family: "Lobster_1_4, Arial, Helvetica, sans-serif";
  background-image: url(../../public/images/PhotoCage\ app.svg);
  background-size: 100%;
  width: 286px;
  height: 48px; }

.menu-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  height: 100%;
  border-right: 1px solid #d0d0d0; }
  .menu-list-item:nth-child(4) {
    border-right: none; }
  .menu-list-item:hover {
    background: linear-gradient(to top, #cac2c2 0%, #fff 100%);
    border-bottom: 5px solid #ff7d00;
    padding-top: 5px; }

.menu-item-button {
  color: #63656a;
  font-size: 16px;
  font-family: "HelveticaCE, Arial, Helvetica, sans-serif";
  padding: 10px 20px 0 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); }

.button-img {
  background-image: url(../../public/images/home-button.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  width: 19px; }

.button-img-2 {
  background-image: url(../../public/images/photo-button.png);
  height: 15px;
  width: 22px; }

.button-img-3 {
  background-image: url(../../public/images/members-button.png);
  height: 17px;
  width: 27px; }

.button-img-4 {
  background-image: url(../../public/images/logout-button.png);
  height: 20px;
  width: 17px; }

/*# sourceMappingURL=main.css.map */
