$textColor: white;
$hoverColor: rgb(100, 188, 236);
$bgOneButtonColor: white;
$textOneButtonColor: #242943;
$bgColor: rgb(42, 47, 74);
$bgImageColor_1: rgba(36, 41, 67, 0.25);
$bgImageColor_2: rgba(36, 41, 67, 0.25);
$bgImageColor_3: rgb(236, 141, 129);
$bgImageColor_4: rgba(36, 41, 67, 0.25);
$bgImageColor_5: rgba(36, 41, 67, 0.25);
$bgImageColor_6: rgba(36, 41, 67, 0.25);
$bgColorContats: rgb(36, 41, 67);
$bgFormColor: rgb(42, 47, 74);
$fontFamily: "Source Sans Pro", Helvetica, sans-serif;
$lineHeight: 1.65;
$letter-spacing: 0.025em;
$fontSize: 14px;