$activeButton: white;
$notActiveButton: rgba(255, 255, 255, 0.35);
$hoverButton: lightgrey;
$hoverLink: white;
$learnButtonColor: white;
$letterSpaceButton: 2px;
$fontSizeMenu: 10px;
$borderButtonActive: linear-gradient(to left, rgb(136, 2, 136), rgb(214, 4, 214));
$borderButton: rgba(179, 179, 179, 0.74);
$bgColoMenu: #312450;
$bgColorContent: #5e42a6;
$headersColor: White;
$contentTextColor: rgba(216, 216, 216, 0.808);